@font-face {
  font-family: 'jun';
  src: url('subset-Junicode.woff') format('woff');
  src: url('subset-Junicode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
}
body {
  font-family: 'jun', serif;
  font-size: 28px;
  line-height: 1.1;
  word-spacing: -0.05em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
  margin: 0;
}
a,
a:active,
a:hover {
  color: black;
  text-decoration: none;
}

a:hover,
::selection,
p a {
  color: rgb(0, 255, 0);
}
p a,
.underline {
  text-decoration: underline;
}
.border {
  border: 2px solid rgb(0, 255, 0);
}
button,
input {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  outline: 0;
  border: 2px solid rgb(0, 255, 0);
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain !important;
}
/* .front {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  right: 0;
  justify-content: space-between;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
} */
h1,
h2,
h3,
h4 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}
.credit {
  font-size: 0.4em;
  margin: 0;
}
h1,
h3 {
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
h3,
h4,
p {
  margin-block-end: 1em;
  margin-block-start: 1em;
}
p,
ul {
  padding: 0;
  list-style: none;
  font-size: 0.65em;
  text-align: center;
}
main {
  max-width: 1024px;
  margin: auto;
}
footer {
  margin-bottom: 5em;
}
/* footer div {
  flex: 1;
  text-align: center;
} */
nav {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    white 25%,
    white 50%,
    rgb(0, 255, 0) 100%
  );
}
nav a {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 25vh;
  /* padding: 0.5em; */
}
.content article,
.flex100 {
  flex: 100%;
}
section {
  min-height: 100vh;
}
.flex50 {
  flex: 40%;
  margin: 1em;
}
.flex600,
.content p {
  flex: 600px;
}
#cheffe-a-domicile .content .flex600:first-child {
  padding-bottom: 3em;
}
#instagram {
  padding-top: 2em;
}
.insta {
  flex: 100%;
  padding: 0.25em 0 0 0;
}
.logo {
  padding: 0.25em;
  max-width: 120px;
}
.fixed {
  position: fixed;
  z-index: 9;
}
/* .sticky {
  position: sticky;
} */
/* .absolute {
  position: absolute;
} */
.l0 {
  left: 0;
}
.t0 {
  top: 0;
}
.r0 {
  right: 0;
}
.b0 {
  bottom: 0;
}
/* .mh25 {
  min-height: 25vh;
} */
/* .mh100 {
  min-height: 100vh;
} */
.h-auto-100vh {
  height: auto;
}
.h100 {
  height: 100vh;
}
.h50 {
  height: 50vh;
}
/* .w50 {
  width: 50%;
} */
.w100 {
  width: 100%;
}
.mw,
.header,
section header,
article header,
footer {
  max-width: 720px;
  padding: 2em 0.5em 2em 0.5em;
  margin: auto;
}
.header {
  padding-bottom: 0;
}
.bgwhite {
  background-color: white;
}
/* .black {
  color: black;
} */
/* .z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
} */
.center {
  text-align: center;
}
/* .italic {
  font-style: italic;
} */
/* .mbl1 {
  margin-block-end: 1em;
}
.mt10 {
  margin-top: -10vw;
}
.mt100 {
  margin-top: 100px;
}
.ml50 {
  margin-left: 50%;
} */
.m0 {
  margin: 0;
}
.m1 {
  margin: 1em;
}
.m-logo{
  margin: 1em 0 1em 0;
}
.m-auto {
  margin: auto;
}
/* .p2 {
  padding-left: 1rem;
} */
.p,
.content article,
.content p {
  padding: 0.5em;
}
.pb0 {
  padding-bottom: 0 !important;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.flexend {
  justify-content: flex-end;
}
.ai-center {
  align-items: center;
}
.hyphens {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 32px;
  }
  .hyphens {
    hyphens: none;
  }
  .p,
  .content article,
  .content p {
    padding: 0.5em;
  }
  .h50 {
    height: 33vh;
  }
  .content {
    flex-wrap: nowrap;
  }
  .insta {
    flex: 33%;
    padding: 0.25em;
  }
}
